.Display{
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
   
}

.Display p{
    text-align: left;
    margin-left: 20px;
    
}


.default {
    color: rgb(64 139 39);;
}

.error{
    color: red;
}